  <% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css">
  <% } %>
</head>
<body>
  <nav>
    <% if(user) { %>
      <a href="/profiles/<%= user.profile._id%>">
        <img
        id="profile-pic"
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %>'s' avatar"
      </a>
    <% } %>
    <div class="nav-bar">
      <a href="/profiles">Profiles</a>
    </div>
    
    <div class="nav-bar">
      <a href="/skills">View Talents</a>
    </div>
    <% if (user) { %>
      <a href="/auth/logout">
        <button type="submit" id="logout">Logout</button>
      </a>
    <% } else { %>
      <div class="nav-bar">
        <a href="/">
          Login
        </a>
      </div>
    <% } %>
    
  </nav>
