html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

body {
  background-color: #EBF1FA;
  font-family: 'Acme', sans-serif;
  margin: 0;
}

nav {
  background-color: rgb(85, 85, 85);
  font-size: 1.6rem;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;

}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#logout{
  background-color: rgb(200, 0, 0);
  color: white;
  border-radius: 80px;
  padding: 10px;
  border-color: solid white;
  border: 24px;
  margin-top: 5px;
  font-weight: 600;
}
#profile-pic{
  width: 40px;
  border-radius: 80px;
}

h1 {
  font-size: 3.6rem;
}

div{
  text-align: center;
}

.nav-bar{
  position: center;
  padding-top: 13px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 6px;
  border-radius: 80px;
  border-color:azure;
}
.nav-bar:hover{
  background-color: #EBF1FA;
}

#profile-list{
  list-style: none;
}

.profiles{
  border-radius: 80px;
}
ul{
  list-style: none;
}
.profile-skill{
  list-style: none;
  text-align: left;
}
#skills{
  margin-right: 91%;
}

.btn{
  background-color: #6187AE;
  font-weight: 600;
  border-radius: 80px;
  border: 0px

}
a{
  text-decoration: none;
  color: #6187AE;
  font-weight: 600;
}
#comment{
  background-color: white;
  font-size: 14px;
  margin-left: 40%;
  margin-right:40%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 80px;
  border: 3px solid black;
}